.full-s {
    min-width: 100% !important;
    min-height: 100vh !important;
    position: relative;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-repeat: repeat-y;
    color: white;
    padding-bottom: 50px;
  }
  
  h1 {
    font-family: "August", sans-serif;
    font-size: 90px !important;
  }
  
  .title {
    font-family: "August", sans-serif;
    font-size: 45px;
  }
  
  .title:hover {
    color: darkgray;
  }
  
  .center {
    display: flex;
    justify-content: center;
  }
  
  .pic:hover {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
  }
  
  .graph {
    flex-direction: column;
    align-items: center;
  }
  
  #myChart {
    width: 100%;
    max-width: 800px;
  }
  
  .button {
    border: none;
    color: #206cc4;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: 34%;
    border-radius: 5%;
    font-family: "August", sans-serif;
    font-size: 30px;
  }
  
  .button:hover {
    background-color: #206cc4;
    color: rgb(255, 255, 255);
  }
  
  /****VIDEO SETTINGS*****/
  
  #myVideo {
    position: relative;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
  .video {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    min-width: 100% !important;
    padding: 3%;
  }
  
  #startBtn {
    width: 200px;
    font-size: 30px;
    padding: 7px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    border-radius: 5%;
    font-family: "August", sans-serif;
  }
  
  #startBtn:hover {
    background: #ddd;
    color: black;
  }
  
  #muteBtn {
    width: 200px;
    font-size: 30px;
    padding: 7px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    border-radius: 5%;
    font-family: "August", sans-serif;
  }
  
  #muteBtn:hover {
    background: #ddd;
    color: black;
  }
  
  /**RESPONSIVE***/
  
  @media only screen and (max-width: 1700px) {
    .button {
      margin-left: 35% !important;
    }
  }
  
  @media only screen and (max-width: 1400px) {
    .button {
      margin-left: 29% !important;
    }
  }
  
  @media only screen and (max-width: 1200px) {
    .button {
      margin-left: 22% !important;
    }
  }
  
  @media only screen and (max-width: 992px) {
    .content {
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px;
    }
  
    .title {
      padding-top: 50px;
    }
  
    .button {
      margin-left: 40% !important;
    }
  }
  
  @media only screen and (max-width: 769px) {
    .content {
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px;
    }
  
    .button {
      margin-left: 35% !important;
    }
  }
  
  @media only screen and (max-width: 630px) {
    .button {
      margin-left: 30% !important;
    }
  
    .ty {
      font-size: 35px !important;
    }
  }
  
  @media only screen and (max-width: 550px) {
    .bigtitle {
      font-size: 60px !important;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .button {
      margin-left: 25% !important;
    }
  
    .ty {
      font-size: 35px !important;
    }
  
    #startBtn {
      display: none;
    }
  
    #muteBtn {
      display: none;
    }
  }
  
  @media only screen and (max-width: 400px) {
    .button {
      margin-left: 15% !important;
    }
  
    .bigtitle {
      font-size: 50px !important;
    }
  }
  
  @media only screen and (max-width: 350px) {
    .button {
      margin-left: 15% !important;
    }
  }
  
  @media only screen and (max-width: 350px) {
    .button {
      margin-left: 0% !important;
    }
  
    .bigtitle {
      font-size: 45px !important;
    }
  }
  
  @media only screen and (max-width: 300px) {
    .button {
      margin-left: 3% !important;
      font-size: 22px !important;
    }
  
    .bigtitle {
      font-size: 45px !important;
    }
  }